---
import CategoryCloud from '../../components/CategoryCloud.astro';
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Index" description="My index page">
  <section class="container about" aria-label="About">
    <CategoryCloud />
  </section>
</MainLayout>
