---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout title="Authors" description="Author page">
  <section class="container author" aria-label="Author"></section>
</MainLayout>
